*{
    font-family: sans-serif;
}

body{
    margin-top: 0px ;
}

.topBar{
    background-color: gray;
    height: 12vh;
    width: 100%;
}

.topBar #img1{
    margin: 2px;
    margin-left: 2px;
    border: 1px solid black;
    max-width: 85px;
    height: 11.3vh;
    float: left;    
}

.topBar #img2{
    margin-top: 2px;
    margin-right: 2px;
    border: 1px solid black;
    max-width: 85px;
    height: 11.3vh;
    float: right;    
}

.content{
    background-color: whitesmoke;
    border: 1px solid black;
    height: 84vh;
}

.information{
    clear: both;
    font-size:16px;
    padding: 12px;
    margin: 10px;
    height: 8vh;
}

.botBar{
    background-color: gray;
    height: 5vh;
    width: 100%;   
}

.botBar #site{
    float: left;
    padding: 10px;
}

.botBar #til{
    float: right;
    padding: 10px;
}

/*menu.html */

.selectButtonContainer{
    text-align: center;
    border: 1px solid black;
    width: 70%;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectButtonContainer a{
    border: 1px solid purple;
    background-color: #03cffc;
    color: white;
    text-decoration: none;

    display: block; 
    margin: 20px;
    padding: 10px;
}


/* productList.html */

.menuButtonContainer{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    max-width: 150px;    
}

.menuButtonContainer #menuButton{
    background-color: orange;
    color: blue;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

.loadMoreButtonContainer{
    margin: auto;
    margin-top: 20px;  
}


.infoButtonContainer{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 80px;
    max-width: 500px; 
}

.infoButtonContainer #infoButton{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

.reportButtonContainer{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 80px;
    width: 500px; 
}

.reportButtonContainer #reportButton{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

div.pinakas{
    border: 1px solid orange;
}

table {
    margin: auto;
    text-align: center;
}
