*{
    font-family: sans-serif;
}

body{
    margin-top: 0px ;
}

.topBar{
    background-color: gray;
    height: 12vh;
    width: 100%;
    overflow: hidden;
}

.topBar #img1{
    margin-top: 1px;
    margin-left: 1px;
    border: 1px solid black;
    max-width: 90px;
    height: 11.6vh;
    float: left;    
}

.topBar #img2{
    margin-top: 1px;
    margin-right: 1px;
    border: 1px solid black;
    max-width: 90px;
    height: 11.6vh;
    float: right;    
}

.content{
    background-color: whitesmoke;
    border: 1px solid black;
    height: 84vh;
    overflow: scroll;
}

.information{
    clear: both;
    font-size:16px;
    padding: 12px;
    margin: 10px;
    height: 8vh;
}

.botBar{
    background-color: gray;
    height: 5vh;
    width: 100%;   
}

.botBar #site{
    float: left;
    padding: 10px;
}

.botBar #til{
    float: right;
    padding: 10px;
}

/*menu.html */
.selectButtonContainer{
    text-align: center;
    border: 1px solid black;
    width: 70%;
    border-radius: 4px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectButtonContainer a{
    border: 1px solid purple;
    background-color: #03cffc;
    color: white;
    text-decoration: none;

    display: block; 
    margin: 20px;
    padding: 10px;
}


/* productList.html */
.menuButtonContainer{
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 100px;
    max-width: 150px;    
}

.menuButtonContainer #menuButton{
    background-color: orange;
    color: blue;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

.loadMoreButtonContainer{
    text-align: center;
    margin-top: 10px; 
}

.infoButtonContainer{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
    max-width: 500px;
}

.infoButtonContainer #infoButton{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

.reportButtonContainer{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 500px;
}

.reportButtonContainer #reportButton{
    background-color: red;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px;    
}

caption{
    color: black;
}

.pinakas{
    margin-bottom: 30px;
    border: 1px solid orange;
    padding: 10px;
    overflow: hidden;
}

.pinakas #productList{
    margin: auto;
    text-align: center;
    overflow: scroll;
}

.pinakas #productList #name {
    background-color: aquamarine;
}

.pinakas #productList tr{
    background-color: bisque;
}


/* expired.html */
.pinakas #expiredList{
    color: white;
    margin: auto;
    text-align: center;
    overflow: scroll;
}

.pinakas #expiredList #name {
    background-color: aquamarine;
    color: black;
}

.pinakas #expiredList .expired{
    background-color: red;
}

.pinakas #expiredList .expiring{
    background-color: rgb(167, 167, 64);
}

.pinakas #expiredList .fresh{
    background-color: green;
}

.locationButtonContainer{
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 20px;
    max-width: 500px;
}

.locationButtonContainer #locationButton{
    background-color: green;
    color: white;
    border: 1px solid black;
    border-radius: 15px;
    text-decoration: none;
    padding: 13px; 
}





@media only screen and (max-width: 800px){
    
    h1{
        font-size: smaller;
    }

    .botBar{
        font-size: smaller;
    }
}